:root {
    --darkest: #EAD7C2;
    --dark: #F0E2D3;
    --light: #F5EBE1;
    --lightest: #FAF5F0;
    --special: #ddb892;
}

body {
    margin: 0;
    background-color: var(--dark);
    color: var(--special);
}

/* all */

#all {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}

#container {
    grid-column: 5 / span 4;
    grid-row: 5 / span 4;
}

#add button {
    border-radius: 5px;
    border: 3px solid var(--darkest);
    color: var(--special);
    background-color: var(--lightest);
    font-weight: bold;
}

/* interface */

#interface {
    border: 3px solid var(--darkest);
    background-color: var(--light);
    padding: 15px;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

#add {
    text-align: center;
}

#add p {
    font-weight: bold;
}

#add input {
    width: 65%;
    border: 3px solid var(--darkest);
    background-color: var(--lightest);
}

/* form styling */

#tasks {
    margin: 10px;
}

#tasks i {
    cursor: pointer;
}

